@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}
html {
  scroll-behavior: smooth;
}

/* Swiper Custom Styles */
.swiper-slide {
  opacity: 0.92;
  transform: scale(0.96);
  transition: all 0.3s;
}

.swiper-slide.swiper-slide-active {
  opacity: 1;
  transform: scale(1);
  z-index: 2;
}

.swiper-slide.swiper-slide-next,
.swiper-slide.swiper-slide-prev {
  opacity: 0.97;
  transform: scale(0.985);
  z-index: 1;
}

/* Optional: Prevent image smoothing "blur" for hi-res images */
.swiper-slide img {
  image-rendering: auto;
}

/* Optional: Remove outline on navigation buttons if you want a cleaner look */
.swiper-button-next:focus,
.swiper-button-prev:focus {
  outline: none;
  box-shadow: none;
}

/* SWIPER DOTS TO BLUE */
.swiper-pagination-bullet {
  background: #1d4ed8 !important;
}
.swiper-pagination-bullet-active {
  background: #1d4ed8 !important;
}
